/* Write your CSS here */
.team-item {
  background-color: #ffffff33;
  border: 2px solid #ffffff;
  margin: 10px;
  border-radius: 10px;
  width: 140px;
  padding: 10px;
}
.team-link {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  gap: 10px;
  align-items: center;
  height: 80px;
  justify-content: center;
}
.team-img {
  width: 50px;
  height: 50px;
}
.name {
  text-align: center;
  color: #ffffff;
  font-size: 10px;
  font-family: 'Bree Serif';
}
@media screen and (min-width: 375px) {
  .team-item {
    width: 160px;
  }
  .team-link {
    height: 100px;
  }
  .team-img {
    width: 60px;
    height: 60px;
  }
  .name {
    font-size: 12px;
  }
}
@media screen and (min-width: 425px) {
  .team-item {
    width: 190px;
  }
}
@media screen and (min-width: 768px) {
  .team-item {
    width: 250px;
  }
  .team-img {
    width: 80px;
    height: 80px;
  }
  .name {
    font-size: 18px;
    width: 180px;
  }
}
@media screen and (min-width: 1024px) {
  .team-item {
    width: 350px;
  }
  .team-img {
    width: 100px;
    height: 100px;
  }
  .team-link {
    height: 150px;
  }
  .name {
    font-size: 22px;
    width: 180px;
  }
}
